{% extends "layout.html" %}


{% block content %}

    <h2>KudoFeedback Test View</h2>
    <a href='/'>Home</a>
    <p>
      Use this view to test the data type.
    </p>
    <p>
      <ul>
    
        <li>
          <a href='/kudofeedback'>KudoFeedback Views</a>
        </li>
        <li>
          <a href='/kudofeedback/'>All KudoFeedbacks</a>
        </li>
        <li>
          <a href='/kudofeedback/add'>Add New KudoFeedback</a>
        </li>
        <li>
          <a href='/kudofeedback/test'>Test  KudoFeedback Class</a>
        </li>

      </ul>
    </p>

{% endblock %}
