{% extends "layout.html" %}


{% block content %}

    <h2>Provider Test View</h2>
    <a href='/'>Home</a>
    <p>
      Use this view to test the data type.
    </p>
    <p>
      <ul>
    
        <li>
          <a href='/provider'>Provider Views</a>
        </li>
        <li>
          <a href='/provider/'>All Providers</a>
        </li>
        <li>
          <a href='/provider/add'>Add New Provider</a>
        </li>
        <li>
          <a href='/provider/test'>Test  Provider Class</a>
        </li>

      </ul>
    </p>

{% endblock %}
